&ECPvars
! The line above must not be changed
!
! The values below are the default values for this program
!
! output device (6=screen, >10 is fort.## file)
stdout = 6
! beam convergence angle i.e. half angle of cone in degrees
thetac = 15.0
! output patterns will be (2*npix+1)^2 in size
npix = 256
! central beam direction 
k = 1,1,0
! master pattern filename
masterfile = 'ECPmasteroutSi.data'
! output file name (can be a full pathname)
outname = 'ecpSi.data'
/
