&dislocationdata
! Note: All values in this template file correspond to program defaults
!
!--------------
! dislocation coordinates,  in interval [-1,1]; to avoid core divergence;
! best to slightly offset simple values like 0.0 to 0.001 or similar
id = 0.001
jd = 0.001
! line direction in crystal coordinates (3 real numbers)
u = 1.0, 0.0, 1.0
! burgers vector in crystal coordinates (3 real numbers)
bv = 0.5, 0.0, 0.5
/
