# ignore object code
*.o

# ignore pro.swp files
*.pro.swp
*.swp

**/*.*~

*.sav
*.psd

IDL/**/*.sav

# ignore OS files
.DS_Store
.DS_Store?

*.atools

# executables
/exe/

# ORR folder
/ORR/

# Amy test folder
/Amy/

# libs, makefiles, editor backup files, etc
*.a
*.amake
*.amake.bk
*.f90.bak
*.data
*.xtal
*.nml

# DOxygen files
/doc/
/dot/

# examples folder
/examples/

# IDL Virtual Machine
/IDL/VMapps/
/IDL/VMappsPC/

# debug files
*.fx3

# mkdep
mkdep_F95

# Release & Debug files
/lib/*/Release/
/lib/Release/
/lib/*/Debug/
/lib/Debug/

# runtime files
absoft_run_env.sh

# testbed folder
/lib/testbed/

# manuals
/manuals/

# oldsrc
/oldsrc/

# rksuite
/src/rksuite_90/

# testfolder
/testfolder/

# xtal
/xtal/

# IDL VM

#lib030414 and other temp test folders #PGC
/lib030414
/test_cmp
/test_lib
/test_makefile
/mktest

# .mod’s and .o’s
*.mod
*.o


#ignoring cmake and other build systems
CMakeLists.txt.user
/Build/
/zRel/
/CleanBuild/
.cproject
.project
/clang/
/xcode/
/x64/
/i386/
/qtcreator/

/Debug
